.total {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;

    .positivo {
        color: green;
        font-weight: bold;
    }

    .negativo {
        color: red;
        font-weight: bold;
    }
}